@model guido_sanz_parcial1.ViewModels.AccesorySearchViewModel;

@{
    ViewData["Title"] = "Index";
}

    <div class="container">
        <h1>Listado de accesorios</h1>

        <form method="get" asp-action="Index">
            <div class="col-2 form-group">
                <input class="form-control" asp-for="NameFilter"/> 
                <button class="btn btn-primary" type="submit">Buscar</button>          
            </div>
        </form>
        <table class="table table-hover table-responsive max-width-75">
            <thead>
                <tr>
                    <th>Nombre del producto</th>
                    <th>Número de serie</th>
                    <th></th>
                </tr>
            </thead>
            <tbody >
            @foreach (var item in Model.Accesories) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SerialNumber)
                    </td>
                    <td>
                        <div>
                            <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                        </div>
                    </td>
                </tr>
        }
            </tbody>
        </table>
        <div>
            <a class="btn btn-success" asp-action="Create">Crear nuevo accesorio</a>
        </div>
    </div>