@model guido_sanz_parcial1.ViewModels.AccesorySearchViewModel;

@{
    ViewData["Title"] = "Index";
}

<div class="container">
  <h1>Listado de accesorios</h1>

  <form method="get" asp-action="Index" class="row g-3">
    <div class="col-auto">
      <input class="form-control" asp-for="NameFilter" placeholder="Nombre agencia o N° Serie" />
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" type="submit">Buscar</button>
    </div>
  </form>

  <div class="table-responsive mt-4">
    <table class="table table-bordered table-striped">
      <thead class="table-primary">
        <tr>
          <th>Nombre del producto</th>
          <th>Número de serie</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model.Accesories)
        {
          <tr>
            <td>
              @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
              <div class="d-flex justify-content-center">
                <a class="btn btn-danger btn-sm mr-2" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <div>
    <a class="btn btn-success" asp-action="Create">Crear nuevo accesorio</a>
  </div>
</div>